<!-- Footer -->
<br/>
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark mt-4" style="color:#FFFFFF;background-color: #005500;">

  <div style="background-color: #005500;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Contacta con nosotros!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" target="_blank" href="https://www.facebook.com/Club-Monta%C3%B1a-Pirineos-Zaragoza-244197787386/">
            <i class="fa fa-facebook white-text mr-4"></i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" target="_blank" href="https://twitter.com/Club_Pirineos?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Fwww.clubpirineos.es%2F">
            <i class="fa fa-twitter white-text mr-4"></i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Club Montaña Pirineos</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>El Club Montaña Pirineos de Zaragoza es uno de los clubes más importantes de la ciudad y con casi 30 años de historia. Cuanta con más de 15 secciones que cubren actividades como senderismo, alta montaña, esqui de travesía, escalada, barrancos, btt, bmx, ferratas, carreras por montaña, orientación, aire libre..</p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Enlaces de interes</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a target="_blank" href="http://www.clubpirineos.es/">Página web del club</a>
        </p>
        <p>
          <a target="_blank" href="http://www.clubpirineos.es/web/forosmf/">Foros del club</a>
        </p>
        <p>
          <a target="_blank" href="http://www.aemet.es/es/eltiempo/prediccion/montana?w=&p=arn1">El tiempo </a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> C/ San Lorenzo, 9, 3º dcha.</p>
        <p>
            <i class="fa fa-home mr-3"></i> martes y jueves de 19,30 a 21,30 h.</p>
        <p>
            <i class="fa fa-home mr-3"></i> Zaragoza, 50.001</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> info@clubpirineos.org</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +34 976298787</p>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="http://www.clubpirineos.org" target="_blank"> Club Montaña Pirineos</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="/js/jquery.min.js"></script>
 <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
 <script src="/js/bootstrap.min.js"></script>
 <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 <script src="/js/ie10-viewport-bug-workaround.js"></script>
