<!DOCTYPE html>
<html>
  <head>
    <% include header %>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="color:#ffffff; background-color: #005500;">
          <div class="container">
           <a class="navbar-brand" href="home"><b><%=title%></b></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" href="/home?seccion=listado">Gestión Participantes</a></li>
                  <li class="nav-item"><a class="nav-link" href="/home?seccion=gestionar">Gestión Actividad</a></li>
                  <li class="nav-item active"><a class="nav-link" href="/home?seccion=nuevaactividad">Nueva Actividad<span class="sr-only">(current)</span></a></li>
                  <li class="nav-item"><a class="nav-link" href="/home?seccion=nuevo">Nueva Participante</a></li>
                  <li class="nav-item"><a class="nav-link" href="/signout">Cerrar Sesión</a></li>
               </ul>
             </div>
           </div>
         </nav>
         <div class="container">
            <form class="form-signin" action="/nuevaactividad" method="POST">
              <legend>Nueva Actividad</legend>
              <input type="text" name="titulo" class="form-control" placeholder="Titulo" required autofocus/>
              <textarea name="descripcion" class="form-control" rows="4" cols="80" required/></textarea>
              <textarea name="requisitos" class="form-control" rows="4" cols="80" required/></textarea>
              Fecha Inicio:<input type="date" name="inicio" required/><br/>
              Fecha Fin:<input type="date" name="fin" required/>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>
              <button class="btn btn-lg btn-primary btn-block" type="reset">Cancelar</button>
              <span class="clearfix"/>
            </form>
                <% if(message){%>
                  <h1 class="text-center error-message"><%= message %></h1>
                <%}%>
           </div>
    <% include footer %>
  </body>
</html>
